adjective.txt
adverb.txt
cardinal_numeral.txt
conjunction.txt
demonstrative_pronoun.txt
foreign_word.txt
indefinite_pronoun.txt
interjection.txt
interrogative_adverb.txt
interrogative_pronoun.txt
noun.txt
ordinal_numeral.txt
personal_pronoun.txt
personal_reflexive_pronoun.txt
possessive_pronoun.txt
possessive_reflexive_pronoun.txt
preposition.txt
proper_noun.txt
reciprocal_pronoun.txt
relative_adverb.txt
relative_pronoun.txt
subjunction.txt
verb.txt
lemmas.zip
